<section class="row">
  <div class="col">
    <button class="btn btn-primary my-3" data-toggle="modal" data-target="#modalBook">New Book</button>

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Titre</th>
          <th scope="col">Auteur</th>
          <th scope="col">Langage</th>
          <th scope="col">Price</th>
          <th scope="col">Offre</th>
          <th scope="col">&nbsp;</th>
          <th scope="col">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books;index as i">
          <th scope="row">{{i+1}}</th>
          <td>{{book.titre}}</td>
          <td>{{book.auteur}}</td>
          <td>{{book.langage}}</td>
          <td>{{book.price}}</td>
          <td>{{book.offre}}</td>
          <td>
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalBook" (click)="onPreUpdate(book)"
              [disabled]="book.userUid != userUid && !isAdmin"
              >Update</button></td>
          <td>
            <button class="btn btn-danger" (click)="onDelete(book.id)" [disabled]="!isAdmin">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-modal [userUid]="userUid"></app-modal>