<section id="books">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let book of books">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{book.couverture}}" alt="{{book.titre}}">
              </p>
              <h4 routerLink="/book/{{book.id}}" class="card-title">{{book.titre}}</h4>
              <p class="card-text">
                {{book.description }}
              </p>
              <div class="container-precio-idioma">
                <p class="badge badge-info">
                  {{book.price}}€
                </p>
                <p class="badge badge-info">
                  {{book.langage}}
                </p>
              </div>
              <a href="{{book.link_amazon}}" class="btn btn-block btn-primary" target="_blank">Buy</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>